@import url('https://fonts.googleapis.com/css?family=Lato:400,600,700&display=swap');
@import "fluid-margin";
@import "fluid-padding";
@import "fluid-font-size";

$Lato: 'Lato', sans-serif;
$white-color: #ffffff;
$black-color: #000000;
$black-gray-color: #101010;
$carrot-color: #ED4C5C;
$background-gray: #FAFAFA;

$app-container-width: 1280px;
$lg-vp-container-width: 992px;
$sm-vp-container-width: 768px;
$xs-vp-container-width: 576px;

html {
    height: 100%;
}
body {
    height: 100%;
    font-family: $Lato;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: $white-color;
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline : none;
    display: inline-block;
}

.normal__text--style {
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
    @include fluid-font-size(12px, 14px, 100px, $app-container-width);
    text-transform: uppercase;
    color: $white-color;
}

.title__text--style {
    font-style: normal;
    font-weight: 600;
    @include fluid-font-size(25px, 36px, 100px, $app-container-width);
    line-height: 43px;
    color: $black-color;
}
.small__title__text--style {
    font-style: normal;
    font-weight: bold;
    @include fluid-font-size(15px, 18px, 100px, $app-container-width);
    line-height: 22px;
    color: $black-gray-color;
}
.small__text--style {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: $black-color;
}
.hide {
    display: none;
}

.small-input {
    max-width: 255px;
}

.style-input {
    border: 1px solid #333333;
    padding-left: 31px;
    box-sizing: border-box;
    border-radius: 6px;
    max-width: 255px;
    width: 100%;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    margin-top: 24px;
}
.long-input {
    max-width: 540px;
}

.header {
    background: url(/img/Rectangle.png) #C4C4C4;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 100vh;
    &::before { 
        background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.85;
        z-index: -1;
    }
    .header__nav {
        @media (max-width: 1100px)  {
            display: none;
        }
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        @include fluid-padding('left', 100px, 166px, $lg-vp-container-width, $app-container-width);
        @include fluid-padding('right', 100px, 166px, $lg-vp-container-width, $app-container-width);
        @include fluid-padding('top', 30px, 30px, $lg-vp-container-width, $app-container-width);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header__nav__logo {
            a {
                display: flex;
                align-items: center;
            }
            .header__nav__logo__text {
                text-transform: uppercase;
                color: $white-color;
                margin-left: 10px;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
        .header__nav__links {
            @at-root #{&}--style:not(:first-child) {
                margin-left: 20px;
            }
            &--style {
                display: inline-block;
                position: relative;
            }
            &--style:after {    
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: #fff;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }
            &--style:hover:after { 
                width: 100%; 
                left: 0;
                position: relative;
            }
        }
        .header__nav__lang-login {
            display: flex;
            align-items: center;
            @at-root #{&}--text-lang {
                font-weight: normal;
                margin-left: 12px;
                margin-right: 15px;
            }
            @at-root #{&}--btn-login {
                border: 1px solid $white-color;
                box-sizing: border-box;
                border-radius: 6px;
                font-weight: normal;
                padding: 12px 29px;
                margin-left: 28px;
                background: inherit;
                &:hover {
                    border: 1px solid #ACE0A2;
                    border-radius: 30px;
                    color: #ACE0A2;
                }
            }
        }
    }
    .header__mobile {
        position: relative;
        height: 20px;
        @media (min-width: 1100px) {
            display: none;
        }
        #menuToggle {
            display: block;
            text-align: right;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 1;
            -webkit-user-select: none;
            user-select: none;
        }
        
        #menuToggle span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: #ffffff;
            border-radius: 3px;
        }
        .header__mobile__menu {
            background: rgba(240, 161, 161, 1);
            height: 70vh;
            width: 90vw;
            position: absolute;
            top: 10px;
            border-radius: 8px;
            right: 10px;
            z-index: 333;
            .header__mobile__menu__content {
                .header__mobile__menu__content__logo {
                    .header__mobile__menu__content__logo--position {
                        padding-top: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 80px;
                        .header__mobile__menu__content__logo__text {
                            color: $white-color;
                            font-size: 27px;
                            margin-left: 10px;
                        }
                    }
                }
                .header__mobile__menu__content__logo__links {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .header__mobile__menu__content__logo__links--style {
                        font-size: 20px;
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    .btn-close-menu {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        &:before, &:after {
          background: $white-color;
          content: '';
          display: block;
          width: 100%;
          height: 3px;
          position: absolute;
          transition: .5s ease-in-out;
        }
        &:before {
          transform: rotate(45deg);
          top: 20px;
        }
        &:after {
          transform: rotate(-45deg);
          bottom: 15px;
        }
      }
    .header__main {
        @include fluid-padding('top', 30px, 177px, 100px, $app-container-width);
        @include fluid-padding('bottom', 50px, 187px, 100px, $app-container-width);
        text-align: center;
        .header__main__title {
            font-style: normal;
            font-weight: bold;
            @include fluid-font-size(25px, 72px, 100px, $app-container-width);
            line-height: 86px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: $white-color;
            @include fluid-margin('bottom', 20px, 39px, $lg-vp-container-width, $app-container-width)
        }
        .header__main__text {
            font-style: normal;
            font-size: 24px;
            @include fluid-font-size(18px, 24px, 100px, $app-container-width);
            line-height: 150%;
            color: $white-color;
        }
        .header__main__button {
            margin-top: 59px;
            font-weight: 600;
            text-transform: uppercase;
            color: $carrot-color;
            background: $white-color;
            border: 0 solid $white-color;
            border-radius: 6px;
            padding: 17px 52px;
        }
    }
}
.container__video {
    @include fluid-padding('top', 40px, 94px, 100px, $app-container-width);
    @include fluid-padding('bottom', 40px, 94px, 100px, $app-container-width);
    @media (min-width: 100px) and (max-width: #{$lg-vp-container-width - 1}) {
        text-align: center;
    }
    @at-root #{&}--position { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (min-width: 100px) and (max-width: $lg-vp-container-width) {
            padding-bottom: 20px;
        }
    }
    .container__video__title {
        margin-bottom: 24px;
    }
    .container__video__text {
        font-weight: normal;
        line-height: 140%;
        color: $black-color;
        text-transform: none;
    }
    .container__video__img__for__mobile {
        @media (min-width: 100px) and (max-width: #{$xs-vp-container-width - 1}) {
            width: 90%;
        }
    }
    @at-root #{&}--btn--play {
        position: absolute;
        top: 100px;
        left: -15px;
        @media (min-width: $sm-vp-container-width) and (max-width: #{$lg-vp-container-width - 1}) {
            top: 100px;
            left: 110px;
        }
        @media (min-width: $xs-vp-container-width) and (max-width: #{$sm-vp-container-width - 1}) {
            top: 100px;
            left: 15px;
        }
        @media (min-width: 100px) and (max-width: #{$xs-vp-container-width - 1}) {
            top: 60px;
            width: 13%;
            left: 10px;
        }
    }
}
.container__features {
    @include fluid-padding('top', 40px, 63px, 100px, $app-container-width);
    @include fluid-padding('bottom', 150px , 229px, $lg-vp-container-width, $app-container-width);
    background: $background-gray;
    @media (min-width: 100px) and (max-width: $lg-vp-container-width) {
        text-align: center;
        @include fluid-padding('bottom', 50px , 150px, $xs-vp-container-width, $lg-vp-container-width);
    }
    .container__features__title {
        text-align: center;
        @include fluid-margin('bottom', 49px, 73px, 100px, $app-container-width);
    }
    .container__features__cards {
        .container__features__card {
            background: $white-color;
            box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
            padding: 32px 32px 25px 32px;
            position: absolute;
            top: 155px;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%);
            border-radius: 8px;
            text-align: center;
            @media (min-width: $lg-vp-container-width) and (max-width: 1200px) {
                padding: 32px 20px 25px 20px;
            }
            .container__features__card__title {
                color: $black-gray-color;
                margin-bottom: 20px;
            }
            .container__features__card__link {
                font-weight: bold;
                color: $carrot-color;
            }
        }
        .container__features--custom--col {
            @media (min-width: 100px) and (max-width: $lg-vp-container-width) {
                padding-bottom: 150px;
            }
        }
    }
}
.container__technology {
    @include fluid-padding('top', 40px, 63px, 100px, $app-container-width);
    @include fluid-padding('bottom', 40px, 108px, 100px, $app-container-width);
    text-align: center;
    .container__technology__title--padding {
        @include fluid-margin('bottom', 20px, 52px, 100px, $app-container-width);
    }
    .container__technology__col--custom-h {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: bold;
        @include fluid-font-size(50px, 100px, 100px, $app-container-width);
        line-height: 120px;
        color: rgba(16, 16, 16, 0.08);
    }
    .container__technology__img__cloud {
        position: absolute;
        top: 55px;
        left: 36%;
        @media (min-width: $lg-vp-container-width) and (max-width: 1200px) {
            left: 34%;
        }
        @media (min-width: $sm-vp-container-width) and (max-width: #{$lg-vp-container-width - 1}) {
            left: 40%;
        }
        @media (min-width: 100px) and (max-width: #{$xs-vp-container-width - 1}) {
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%);
        }
    }
    .container__technology__img__secure {
        position: absolute;
        top: 65px;
        left: 39%;
        @media (min-width: $lg-vp-container-width) and (max-width: 1200px) {
            left: 37%;
        }
        @media (min-width: $sm-vp-container-width) and (max-width: #{$lg-vp-container-width - 1}) {
            left: 41%;
        }
        @media (min-width: 100px) and (max-width: #{$xs-vp-container-width - 1}) {
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%);
        }
    }
    .container__technology__img__pdf-download {
        position: absolute;
        top: 60px;
        left: 39%;
        @media (min-width: $lg-vp-container-width) and (max-width: 1200px) {
            left: 37%;
        }
        @media (min-width: $sm-vp-container-width) and (max-width: #{$lg-vp-container-width - 1}) {
            left: 41%;
        }
        @media (min-width: 100px) and (max-width: #{$xs-vp-container-width - 1}) {
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%);
        }
    }
    .container__technology__img__cvs-download {
        position: absolute;
        top: 70px;
        left: 42%;
        @media (min-width: $sm-vp-container-width) and (max-width: #{$lg-vp-container-width - 1}) {
            left: 44%;
        }
        @media (min-width: 100px) and (max-width: #{$xs-vp-container-width - 1}) {
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%);
        }
    }
}
.container__app__download {
    background: $carrot-color;
    @include fluid-padding('top', 30px, 94px, 100px, $app-container-width);
    @include fluid-padding('bottom', 30px, 95px, 100px, $app-container-width);
    @media (min-width: 100px) and (max-width: $lg-vp-container-width) {
        text-align: center;
    }
    @at-root #{&}--custom--col {
        padding-top: 25px;
        .container__app__download__btn__app {
            @include fluid-padding('top', 20px, 40px, 100px, $app-container-width);
            @at-root #{&}--padding:not(:first-child) {
                margin-left: 28px;
            }
            @media (min-width: 100px) and (max-width: $lg-vp-container-width) {
                margin-bottom: 20px;
            }
        }
    }
    .container__app__download__title {
        font-weight: normal;
        @include fluid-font-size(25px, 36px, 100px, $app-container-width);
        line-height: 43px;
        color: $white-color;
        @include fluid-margin('bottom', 20px, 50px, 100px, $app-container-width);
    }
    .container__app__download__text {
        font-weight: normal;
        text-transform: none;
    }
}
.container__contact {
    @include fluid-padding('top', 20px, 95px, 100px, $app-container-width);
    @media (min-width: 100px) and (max-width: $lg-vp-container-width) {
        text-align: center;
    }
    .container__contact__title {
        @include fluid-margin('bottom', 20px, 70px, 100px, $app-container-width);
    }
    .container__contact__text {
        font-weight: normal;
        @include fluid-font-size(12px, 14px, 100px, $app-container-width);
        line-height: 140%;
        color: $black-color;
        text-transform: none;
    }
    .container__contact__form__lg {
        @include fluid-padding('bottom', 50px, 123px, 100px, $app-container-width);
        .custom__col__tablet .small-input {
            @media (min-width: 100px) and (max-width: #{$sm-vp-container-width - 1}) {
                max-width: 540px;
            }
        }
        .custom__col__tablet:first-child {
            @media (min-width: $sm-vp-container-width) and (max-width: #{$lg-vp-container-width - 1}) {
                display: flex;
                justify-content: flex-end;
            }
            @media (min-width: 100px) and (max-width: #{$sm-vp-container-width -1 }) {
                display: block;
                justify-content: none;
            }
        }
        .custom__col__tablet:last-child {
            @media (min-width: $sm-vp-container-width) and (max-width: #{$lg-vp-container-width - 1}) {
                display: flex;
                justify-content: flex-start;
            }
            @media (min-width: 100px) and (max-width: #{$sm-vp-container-width -1 }) {
                display: block;
                justify-content: none;
            }
        }
        .submit-now {
            margin-top: 27px;
            background: #ED4C5C;
            border: 1.5px solid #ED4C5C;
            box-sizing: border-box;
            border-radius: 6px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: $white-color;
            padding: 15px 34px;
            text-align: left;
        }
    }
}
.container__footer {
    @include fluid-padding('top', 50px, 95px, 100px, $app-container-width);
    @include fluid-padding('bottom', 40px, 86px, 100px, $app-container-width);
    background: $background-gray;
    @media (min-width: 100px) and (max-width: $sm-vp-container-width) {
        text-align: center;
    }
    .container__footer__text {
        @include fluid-margin('top', 20px, 33px, 100px, $app-container-width);
    }
    .container__footer__links {
        @include fluid-margin('top', 20px, 33px, 100px, $app-container-width);
        li {
            list-style-type: none;
            margin-bottom: 5px;
            & a {
                display: inline-block;
                position: relative;
            }
            & a:after {    
                bottom: 0;
                content: "";
                display: block;
                height: 1.5px;
                left: 50%;
                position: absolute;
                background: $black-color;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }
            & a:hover:after { 
                width: 100%; 
                left: 0;
                position: relative;
            }
            & a:hover {
                text-decoration: none;
                color: $black-color;
            }
        }
        ul {
            margin-left: 0;
            padding-left: 0;
        }
    }
    .container__footer__contact {
        display: flex;
        flex-direction: column;
        @include fluid-margin('top', 20px, 33px, 100px, $app-container-width);
        @at-root #{&}--margin {
            margin-bottom: 11px;
        }
        .container__footer__social__network {
            margin-top: 21px;
            display: flex;
            @media (min-width: 100px) and (max-width: $sm-vp-container-width) {
                justify-content: center;
            }
            @media (min-width: 100px) and (max-width: #{$xs-vp-container-width - 1}) {
                margin-bottom: 21px;
            }
            .container__footer__social__network__img:not(:first-child) {
                margin-left: 16px;
            }
        }
    }
    .container__footer__img__secure {
        @include fluid-margin('top', 20px, 33px, 100px, $app-container-width);
    }
    .container__footer__text__copyright {
        @include fluid-margin('top', 40px, 86px, 100px, $app-container-width);
    }
    .container__footer__text__copyright--custom--text--style {
        font-size: 12px;
        line-height: 14px;
    }
}